 
tickLabel {
    height:200px;
    width:390px;

}

.tickLabel {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    writing-mode: tb-rl;
        filter: flipv fliph;
}




.pieLabel div{
            font-size: 10px;
            border: 1px solid gray;
            background: yellow;
            padding: 1px;
            text-align: center;
        }


.ledger-chart {
    width: 960px;
    height: 600px;
}
